.login {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, #3774c5 , #00a1d7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container {
    height: 490px;
    width: 380px;
    background-color: #fff;
    border-radius: 5px;

    display: flex;
    justify-content: center;
   
}

.login-container form {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 20px;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.login-container form > {
    font-family: 'Viga', sans-serif;
    margin-bottom: 20px;
    color: #151c48;
    font-size: 15px;
    font-weight: bold;
}

.p {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    color: #666;
    height: 40px;
}

.login-container form input::placeholder {
    font-size: 14px;
    color: rgb(170, 174, 175); 
} 

.login-container form button[type=submit] {
    width: 100%;
    border: 0;
    border-radius: 4px;
    height: 45px;
    font-size: 18px;
    background-color: #00a1d7;
    cursor: pointer;
    color: #fff;
    margin: 20px 0;
}
.login-container form button[type=submit]:hover{
    /* background-color: rgb(94, 178, 235); */ 
    background-color: #5bb9d3;
}
.b {
    font-size: 14px;
    color: rgb(44, 44, 44);
}
.create-now {
    color: #3e8ef7;
}
.create-now:hover {
    text-decoration: underline;
}
.login-container form {
    position: relative;
}
.validation-error {
    border-bottom: 1px solid var(--danger);
}

.erro {
    position: absolute;
    top: 190px;
    width: 100%;
    color: var(--danger);
}

